<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await RenderSectionAsync("Head", false)
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </environment>

    <link href="~/favicon.ico" rel="shortcut icon"  />
    <link href="~/css/blog.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6627613fa4.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("CSS", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light shadow mb-3">
            <div class="container-fluid justify-content-end">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link p-2" href="https://suxrobgm.net">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2" asp-page="/Blog/List">Blog</a>
                        </li>
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link p-2" asp-page="/Admin/Index">Dashboard</a>
                            </li>
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" />
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <main role="main">
        <partial name="_CookieConsentPartial" />
        <div class="container-fluid mx-2">
            @await RenderSectionAsync("FluidContainer", required: false).ConfigureAwait(false)
        </div>
        <div class="container pb-3">
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="d-flex justify-content-center p-2">
            <div class="text-center">
                <p class="mb-3"><b>Follow on</b></p>
                <div class="social-icon d-flex flex-row">
                    <a class="facebook" href="https://www.facebook.com/suxrobgm"><i class="fab fa-facebook-f"></i></a>
                    <a class="instagram" href="https://www.instagram.com/Suxrob_GM"><i class="fab fa-instagram"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/suxrobgm/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="github" href="https://github.com/suxrobGM"><i class="fab fa-github"></i></a>
                </div>
                <p class="mt-4">Copyright &copy; 2022 </p>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    </environment>

    @await RenderSectionAsync("Scripts", false)

    <script src="~/js/blog.js"></script>

    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>