@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" enctype="multipart/form-data" method="post">
    <div class="row flex-column-reverse flex-sm-row">       
        <div class="col-12 col-sm-7">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="col-12 col-sm-5">
            <fieldset>
                <legend>Photo</legend>
                <div>
                    <img id="profile_photo" class="rounded" width="225" height="225" src="@Model.PhotoUrl" alt="Image" />
                </div>
                <div class="my-2">
                    <input id="select_photo" class="btn" onchange="checkExtension(event)" accept="image/*" asp-for="Input.UploadPhoto" type="file" />
                    <span id="upload_fail_text" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function checkExtension(event) {
            let file = document.querySelector("#select_photo");
            if (/\.(jpe?g|png|gif)$/i.test(file.files[0].name) === false) {
                $("#upload_fail_text").text("This is not valid image file");        
            }
            else {
                loadFile(event);
                $("#upload_fail_text").text("");
            }
        }

        function loadFile(event) {
            var reader = new FileReader();
            reader.onload = () => {
                $("#profile_photo").attr("src", reader.result);
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}