@page "{id}"
@model SuxrobGM_Resume.Pages.Blog.EditModel

@{
    ViewData["Title"] = "Edit " + Model.Article.Title;
    Layout = "_BlogLayout";
}

@section CSS {
    <partial name="_CodemirrorStylesheetsPartial" />
    <partial name="_SummernoteStylesheetsPartial" />
    <link rel="stylesheet" href="~/lib/fileupload/fileupload.css" />
}

<h1>Edit Blog</h1>
<h3>@Model.Article.Title</h3>
<hr />
<div class="row">
    <div class="px-5">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Summary" class="control-label"></label>
                <textarea rows="3" asp-for="Article.Summary" class="form-control"></textarea>
                <span asp-validation-for="Article.Summary" class="text-danger"></span>
            </div>
            <div>
                <label>Cover image</label>
                <div class="file-upload mb-2">
                    @*<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>*@
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" asp-for="UploadCoverPhoto" type="file" onchange="readURL(this);" accept="image/*" />
                        <div class="drag-text">
                            <h3>Drag and drop a file or select add Image</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image" src="@Model.Article.CoverPhotoUrl" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label asp-for="Article.Url" class="control-label mb-0"></label>
                <span asp-validation-for="Article.Url" class="text-danger mx-1"></span>
                <div class="form-inline">
                    <label class="text-primary mr-2">https://suxrobgm.net</label>
                    <input asp-for="Article.Url" class="form-control flex-grow-1" disabled />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Article.Tags" class="control-label"></label>
                <input asp-for="Article.Tags" class="form-control" />
                <span asp-validation-for="Article.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
                <textarea id="blog_editor" asp-for="Article.Content" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Blog/List">Back to List</a>
</div>

@section Scripts {
    <partial name="_CodermirrorScriptsPartial" />
    <partial name="_SummernoteScriptsPartial" />
    <script src="~/lib/fileupload/fileupload.js"></script>

    @if (!string.IsNullOrEmpty(Model.Article.CoverPhotoUrl))
    {
        <script>
            $('.file-upload-content').show();
            $('.image-upload-wrap').hide();
        </script>
    }
}
