@import url("https://fonts.googleapis.com/css?family=Raleway");

body h1, h2, h3, h4, h5, h6, p {
    font-family: "Raleway", sans-serif !important;
}

/* Sticky footer styles
-------------------------------------------------- */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ecf0f5;
}

main {
    flex: auto;
}

footer {
    flex-shrink: 0;
    background-color: #1C1C20;
    color: white;
}

/*-----------------------------------------------*/

.social-icon a {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: block;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.social-icon a.facebook:hover {
        background-color: #3b5999;
        color: white;
    }

    .social-icon a.instagram:hover {
        background-color: #D6274D;
        color: white;
    }

    .social-icon a.linkedin:hover {
        background-color: #1260A2;
        color: white;
    }

    .social-icon a.github:hover {
        background-color: black;
        color: white;
    }

.comment-editor {
    border: none;
    width: 100%;
    outline: 0 !important;
    -webkit-appearance: none;
}

@media (max-device-width : 576px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.card-shadow {
    box-shadow: 0 4px 10px 0 #000000, 0 4px 20px 0 #000000;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.navbar-nav .nav-link {
    font-weight: 700;
    padding: 0 17px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 576px) {
    .container {
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
}
