@import url("vice-city/variables.css");
@import url("vice-city/base.css");
@import url("vice-city/effects.css");
@import url("vice-city/navigation.css");
@import url("vice-city/hero.css");
@import url("vice-city/cassette.css");
@import url("vice-city/sections.css");
@import url("vice-city/contact.css");
@import url("vice-city/footer.css");
@import url("vice-city/animations.css");
@import url("vice-city/responsive.css");
