@import url("windows-xp/variables.css");
@import url("windows-xp/base.css");
@import url("windows-xp/chrome.css");
@import url("windows-xp/desktop.css");
@import url("windows-xp/sections.css");
@import url("windows-xp/contact.css");
@import url("windows-xp/taskbar.css");
@import url("windows-xp/footer.css");
@import url("windows-xp/responsive.css");
