@page
@model IndexModel
@{
    ViewData["Title"] = "SuxrobGM";
}


<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">
                Ilyosbekov
                <span class="text-primary">Sukhrobbek</span>
            </h1>
            <div class="subheading mb-5">
                Uzbekistan · Samarkand · 
                <a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a>
            </div>
            <p class="lead mb-5">I am experienced in .NET Desktop application development (WinForms and WPF), Web application development (ASP.NET Core) and Game development. Also I am Team lead on EC Development Team.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/suxrobgm/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/suxrobGM">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://gitlab.com/suxrobGM">
                    <i class="fab fa-gitlab"></i>
                </a>
                <a href="https://www.youtube.com/c/HeartsofIronIVEconomicCrisis2013">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/suxrobgm">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/Suxrob_GM">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://vk.com/suxrobgm">
                    <i class="fab fa-vk"></i>
                </a>
                <a href="https://t.me/SuxrobGM">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Senior .NET Developer</h3>
                    <div class="subheading mb-3">Intelitec Solutions</div>
                    <p>After working in WinForms I migrated to WPF Desktop Development.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">May 2018 - Present</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Middle Programmer</h3>
                    <div class="subheading mb-3">Intelitec Solutions</div>
                    <p>After enrolling in university I quickly learned C++ programming language then I participated in several sports programming contests. After C++ I started learning C#,Java and Python</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2017 - March 2018</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Game Developer</h3>
                    <div class="subheading mb-3">Shout! Game Development</div>
                    <p>I was very interested in game industry. Also I was liked strategy games. For this reason I started developing global modification of Hearts of Iron IV which named Economic Crisis. After couple of month working individually. I gathered a team of enthusiasts and we was remotely working together.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2016 - Present</span>
                </div>
            </div>           
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Samarkand Branch of Tashkent University of Information Technologies</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Computer Engineering - Software Engieneering</div>
                    <p>GPA: 3.82</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2017 - Present</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Academic lyceum under Samarkand State Institute of Foreign Languages</h3>
                    <div class="subheading mb-3">Exact sciences</div>
                    <p>GPA: 3.58</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2014 - June 2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Secondary school #10 Samarkand district</h3>
                    <div class="subheading mb-3">General</div>
                    <p>GPA: 4.0</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2009 - May 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Primary school #2 Samarkand district</h3>
                    <div class="subheading mb-3">General</div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2005 - May 2009</span>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="icon-bootstrap"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="icon-jquery"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-angular"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-python"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-java"></i>
                </li>
                <li class="list-inline-item">
                    <i class="icon-c"></i>
                </li>
                <li class="list-inline-item">
                    <i class="icon-cplusplus"></i>
                </li>
                <li class="list-inline-item">
                    <i class="icon-csharp"></i>
                </li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Desktop Application Development, WinForms and WPF
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Web Application Development, ASP.NET Core
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Game Development, Unreal Engine and Clausewitz Engine
                </li>               
            </ul>
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. I enjoy mountain biking, free climbing, and kayaking.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in .NET world.</p>
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0">               
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Top-30 team Tashkent University of Information Technologies - ACM Sports Programming Contest 2018
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    1<sup>st</sup>
                    Place - Samarkand Branch of Tashkent University of Information Technologies - ACM Sports Programming Contest 2017
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    4<sup>th</sup> place in regional stage
                    High School (12th grade) Physics Olympiad - 2017
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    4<sup>th</sup> in final stage
                    Secondary School (9th grade) Physics Olympiad - 2014
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    3<sup>rd</sup> place in regional stage
                    Secondary School (8th grade) Physics Olympiad - 2013
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    3<sup>rd</sup> place in final stage
                    Secondary School (7th grade) Physics Olympiad - 2012
                </li>
            </ul>
        </div>
    </section>

</div>
