@page
@model IndexModel
@{
    ViewData["Title"] = "SuxrobGM";
}

<section id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="contents">
                    <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
                    <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Sukhrob Ilyosbekov</h2>
                    <p class="script-font wow fadeInUp" data-wow-delay="0.6s">.NET and full-stack web developer</p>
                    <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/suxrobgm"><i class="icon-social-facebook"></i></a>
                        </li>
                        <li>
                            <a class="instagram" href="https://www.instagram.com/Suxrob_GM"><i class="icon-social-instagram"></i></a>
                        </li>
                        <li>
                            <a class="linkedin" href="https://www.linkedin.com/in/suxrobgm/"><i class="icon-social-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/suxrobGM"><i class="icon-social-github"></i></a>
                        </li>
                    </ul>
                    @*<div class="header-button wow fadeInUp" data-wow-delay="1s">
                        <a href="#" class="btn btn-common">Get a Free Quote</a>
                     </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/img/about/profile.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi Guys!</h3>
                    <p>I am experinced .NET Developer. I have more than 3 years of experience in software development. Over these years, I developed many successful applications both on the web, desktop and cross-platform mobile applications.</p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Full Name </span> <span class="pro-detail">Sukhrob Ilyosbekov</span></li>
                            <li><span class="pro-title"> Age </span> <span class="pro-detail">20 Years</span></li>
                            <li><span class="pro-title"> Experience </span> <span class="pro-detail">3 Years</span></li>
                            <li><span class="pro-title"> Country </span> <span class="pro-detail">Uzbekistan</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">Samarkand</span></li>
                            <li><span class="pro-title"> e-mail </span> <span class="pro-detail">suxrobGM@gmail.com</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (998) 97 925 0729</span></li>
                            <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                        </ul>
                    </div>
                    @*<a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>*@
                    <a href="mailto:suxrobGM@gmail.com" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="fa fa-html5"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Full-Stack Web Development</a></h3>
                        <p>Web development with ASP.NET Core, client-side with React, web development with new faster Web Assembly technology</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="fa fa-windows"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Windows and Cross-platform Desktop Development</a></h3>
                        <p>Windows desktop development with WPF, UWP and cross-platform desktop development with GTK#</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Mobile App Development</a></h3>
                        <p>Cross-platform mobile app development with Xamarin.Forms and Xamarin Native</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Game Development</a></h3>
                        <p>Game Development with Unity</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="resume" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="education wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-graduation"></i>
                            <h2 class="timelin-title">Education</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Bachelor In CSE - University of Massachusetts Boston</h3>
                                <span>2019 - 2022</span>
                                <p class="line-text">Currently, I am admitted student at UMass Boston, so I will transfer my bachelor degree from my prevoius university</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Bachelor In CSE - Samarkand Branch of Tashkent University of Information Technologies</h3>
                                <span>2017 - 2019</span>
                                <p class="line-text"></p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Academic lyceum under Samarkand State Institute of Foreign Languages</h3>
                                <span>2014 - 2017</span>
                                <p class="line-text"></p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Secondary School #10 - High School</h3>
                                <span>2005 - 2014</span>
                                <p class="line-text"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Experience</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Software Freelancer - Individual</h3>
                                <span>Feb 2019 - Present</span>
                                <p class="line-text">Starting career as software freelancer after game development</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Team Lead, Game Developer - EC Dev Team</h3>
                                <span>Jul 2016 - 2019</span>
                                <p class="line-text">Shout! it is game development. I founded awesome international team for developing global modification of Hearts of Iron IV</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolios" class="section-padding">
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".web-development">
                        Web Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".desktop-development">
                        Desktop Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".game-development">
                        Game Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Design
                    </a>
                    <a class="filter btn btn-common" data-filter=".other-development">
                        Other
                    </a>
                </div>
            </div>

            <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix game-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_background.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/ec_background.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix game-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/tower-defense.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/tower-defense.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_website.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/ec_website.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/web-chat.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/web-chat.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_launcher_screen.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/ec_launcher_screen.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/qa_scanner.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/qa_scanner.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/physics_demo.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/physics_demo.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/physics_newton_demo.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/physics_newton_demo.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix other-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/telegram-bot.png" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/telegram-bot.png">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-1.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-1.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-2.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-2.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-3.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-3.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-4.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-4.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-5.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-5.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-6.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-6.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon"><i class="icon-briefcase"></i></div>
                    <div class="counterUp">50</div>
                    <p>Project Working</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="counterUp">65</div>
                    <p>Project Done</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon"><i class="icon-diamond"></i></div>
                    <div class="counterUp">15</div>
                    <p>Awards Received</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon"><i class="icon-heart"></i></div>
                    <div class="counterUp">45</div>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>Samarkand</p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p><a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a></p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <p><a href="#">+ (998) 97 925 0729</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
