@page
@model IndexModel
@{
    ViewData["Title"] = "SuxrobGM";
}

<!---->
<section id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="contents">
                    <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
                    <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Sukhrob Ilyosbekov</h2>
                    <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Software engineer</p>
                    <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/suxrobgm"><i class="icon-social-facebook"></i></a>
                        </li>
                        <li>
                            <a class="instagram" href="https://www.instagram.com/Suxrob_GM"><i class="icon-social-instagram"></i></a>
                        </li>
                        <li>
                            <a class="linkedin" href="https://www.linkedin.com/in/suxrobgm/"><i class="icon-social-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="github" href="https://github.com/suxrobGM"><i class="icon-social-github"></i></a>
                        </li>
                        <li>
                            <a class="telegram" href="https://t.me/suxrobGM"><i class="fab fa-telegram-plane"></i></a>
                        </li>
                    </ul>
                    <div class="header-button wow fadeInUp" data-wow-delay="1s">
                        <a asp-page="/Blog/List" class="btn btn-common">Blog</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/img/about/profile.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi Guys!</h3>
                    <p>I am experinced .NET Developer. I have more than 3 years of experience in software development. Over these years, I developed many successful applications both on the web, desktop and cross-platform mobile applications.</p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Full Name </span> <span class="pro-detail">Sukhrob Ilyosbekov</span></li>
                            <li><span class="pro-title"> Age </span> <span class="pro-detail">21 Years</span></li>
                            <li><span class="pro-title"> Experience </span> <span class="pro-detail">3 Years</span></li>
                            <li><span class="pro-title"> Country </span> <span class="pro-detail">Uzbekistan</span></li>
                            <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                        </ul>
                    </div>
                    <a href="~/Resume_RU.pdf" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume (RU)</a>
                    <a href="mailto:suxrobGM@gmail.com" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Skills</h2>
    <div class="container">

        <!--First row-->
        <div class="row">
            <div class="col-12 col-md-6 wow slideInLeft" data-wow-delay="0.3s">
                <h2 class="skills-title"><i class="fa fa-users"></i>&nbsp;&nbsp; Professional Skills</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 65%">
                                <span class="progress-type">Communication</span>
                                <span class="progress-completed">70%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 90%">
                                <span class="progress-type">Leadership</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%">
                                <span class="progress-type">Confidence</span>
                                <span class="progress-completed">80%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 wow slideInRight" data-wow-delay="0.5s">
                <h2 class="skills-title"><i class="fa fa-code"></i>&nbsp;&nbsp; Code Skills</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                                <span class="progress-type">C#</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%">
                                <span class="progress-type"><i class="fab fa-python"></i>&nbsp; Python</span>
                                <span class="progress-completed">80%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                                <span class="progress-type"><i class="fab fa-html5"></i>&nbsp; HTML/CSS</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%">
                                <span class="progress-type">JavaScript</span>
                                <span class="progress-completed">80%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%">
                                <span class="progress-type">C/C++</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%">
                                <span class="progress-type"><i class="fa fa-database"></i>&nbsp; SQL</span>
                                <span class="progress-completed">85%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%">
                                <span class="progress-type"><i class="fab fa-java"></i>&nbsp; Java</span>
                                <span class="progress-completed">60%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 45%">
                                <span class="progress-type"><i class="fab fa-php"></i>&nbsp; PHP</span>
                                <span class="progress-completed">45%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 40%">
                                <span class="progress-type">Lua</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--Second row-->
        <div class="row">
            <div class="col-12 col-md-6 wow slideInLeft" data-wow-delay="0.7s">
                <h2 class="skills-title"><i class="fa fa-tools"></i>&nbsp;&nbsp; Tools &amp; Technologies</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">.NET Framework</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">.NET Core</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type"><i class="fab fa-windows"></i>&nbsp; WPF</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>                   
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">ASP.NET Core</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%">
                                <span class="progress-type"><i class="fa fa-mobile-alt"></i>&nbsp; Xamarin.Forms</span>
                                <span class="progress-completed">70%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%">
                                <span class="progress-type">Unity 3D</span>
                                <span class="progress-completed">60%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%">
                                <span class="progress-type"><i class="fab fa-react"></i>&nbsp; ReactJS</span>
                                <span class="progress-completed">70%</span>
                            </div>
                        </div>
                    </li>                    
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 55%">
                                <span class="progress-type">Qt</span>
                                <span class="progress-completed">55%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 wow slideInRight" data-wow-delay="0.9s">
                <h2 class="skills-title"><i class="fa fa-satellite-dish"></i>&nbsp;&nbsp; Ethical Hacking Skills</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 50%">
                                <span class="progress-type"><i class="fa fa-network-wired"></i>&nbsp; Network Traffic Sniffing</span>
                                <span class="progress-completed">50%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 65%">
                                <span class="progress-type"><i class="fa fa-wifi"></i>&nbsp; Wireless Security Analysis</span>
                                <span class="progress-completed">65%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%">
                                <span class="progress-type">Social Engineering</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 70%">
                                <span class="progress-type">Web Application Security Analysis</span>
                                <span class="progress-completed">70%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%">
                                <span class="progress-type">Vulnerability Analysis</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%">
                                <span class="progress-type">Penetration Testing</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="fab fa-html5"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Web Application Development</a></h3>
                        <p>Web application development using ASP.NET Core</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="fab fa-windows"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Desktop Application Development</a></h3>
                        <p>Windows desktop development using WPF or cross-platform desktop development using GTK#</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="fa fa-mobile-alt"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Mobile Application Development</a></h3>
                        <p>Cross-platform mobile application development using Xamarin.Forms</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Game Development</a></h3>
                        <p>Game development using Unity 3D</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="resume" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="education wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-graduation"></i>
                            <h2 class="timelin-title">Education</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">INTI International University &amp; Colleges</h3>
                                <span>2019 - 2021</span>
                                <p class="line-text">Bachelor's Degree in Computer Science | Malaysia</p>
                                <p class="line-text">Major: American Degree Transfer</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Samarkand Branch of Tashkent University of Information Technologies</h3>
                                <span>2017 - 2019</span>
                                <p class="line-text">Bachelor's Degree in Computer Science | Uzbekistan</p>
                                <p class="line-text">Major: Software engineering</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Academic lyceum under Samarkand State Institute of Foreign Languages</h3>
                                <span>2014 - 2017</span>
                                <p class="line-text">Specialized in mathematics and physics</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Secondary School #10 - High School</h3>
                                <span>2005 - 2014</span>
                                <p class="line-text">General education</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Experience</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Freelance Software Developer - Freelancer.com</h3>
                                <span>Feb 2019 - Present</span>
                                <p class="line-text">Starting career as software freelancer after game development</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Team Lead, Game Developer - EC Dev Team</h3>
                                <span>Jul 2016 - 2019</span>
                                <p class="line-text">Shout! it is game development. I founded awesome international team for developing global modification of Hearts of Iron IV</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolios" class="section-padding">
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".web-development">
                        Web Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".desktop-development">
                        Desktop Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".game-development">
                        Game Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Design
                    </a>
                    <a class="filter btn btn-common" data-filter=".other-development">
                        Other
                    </a>
                </div>
            </div>

            <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix game-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_background.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/ec_background.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://vk.com/ec_hoi_mod">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix game-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/tower-defense.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/tower-defense.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_website.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/ec_website.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://vk.com/ec_hoi_mod">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/web-chat.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/web-chat.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_launcher_screen.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/ec_launcher_screen.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://vk.com/ec_hoi_mod">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/qa_scanner.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/qa_scanner.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://github.com/suxrobGM/QA_Scanner">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/physics_demo.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/physics_demo.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://github.com/suxrobGM/PhysicsDemo">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/physics_newton_demo.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/physics_newton_demo.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://github.com/suxrobGM/NewtonDemo">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix other-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/telegram-bot.png" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/telegram-bot.png">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://github.com/suxrobGM/TelegramBot">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-1.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-1.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    @*<a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-2.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-2.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    @*<a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-3.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-3.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    @*<a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-4.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-4.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    @*<a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-5.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-5.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    @*<a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-6.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-6.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    @*<a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feedbacks" class="counter-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon"><i class="icon-briefcase"></i></div>
                    <div class="counterUp">47</div>
                    <p>Project Working</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="counterUp">66</div>
                    <p>Project Done</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon"><i class="icon-diamond"></i></div>
                    <div class="counterUp">13</div>
                    <p>Awards Received</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon"><i class="icon-heart"></i></div>
                    <div class="counterUp">41</div>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 col-md-9 col-lg-8 mx-auto">
                <div id="client_feedbacks" class="carousel" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#client_feedbacks" data-slide-to="0" class="active"></li>
                        <li data-target="#client_feedbacks" data-slide-to="1"></li>
                        <li data-target="#client_feedbacks" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <blockquote class="blockquote">
                                <p class="h4">His work was outstanding. Not only did what we needed but also his professionalism has been great: he documented and give us guidelines of everything. Thanks again</p>
                                <div class="blockquote-footer text-white">
                                    Ariel S. from USA
                                </div>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote">
                                <p class="h4">You are a person with patience, I appreciate that, thanks for your great work.</p>
                                <div class="blockquote-footer text-white">
                                    Nestor M. from Peru
                                </div>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote">
                                <p class="h4">Great work. I want to work with him again Thanks. Everything is very fine</p>
                                <div class="blockquote-footer text-white">
                                    Akindele H. from Nigeria
                                </div>
                            </blockquote>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>Unknown</p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p><a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a></p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fab fa-telegram-plane"></i>
                                </div>
                                <a class="telegram" href="https://t.me/suxrobGM">Telegram (@@suxrobGM)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
