@page
@model IndexModel
@{
    ViewData["Title"] = "SuxrobGM";
}

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="~/img/about/profile.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi Guys!</h3>
                    <p>I am experinced .NET Developer. I have more than 3 years of experience in software development. Over these years, I developed many successful applications both on the web, desktop and cross-platform mobile applications.</p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Full Name </span> <span class="pro-detail">Sukhrob Ilyosbekov</span></li>
                            <li><span class="pro-title"> Age </span> <span class="pro-detail">20 Years</span></li>
                            <li><span class="pro-title"> Experience </span> <span class="pro-detail">3 Years</span></li>
                            <li><span class="pro-title"> Country </span> <span class="pro-detail">USA</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">San Francisco, CA</span></li>
                            <li><span class="pro-title"> e-mail </span> <span class="pro-detail">suxrobGM@gmail.com</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (00) 123 456 789</span></li>
                            <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                        </ul>
                    </div>
                    @*<a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>*@
                    <a href="mailto:suxrobGM@gmail.com" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="icon-grid"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Full-Stack Web Development</a></h3>
                        <p>Web development with ASP.NET Core, client-side with React, web development with new faster Web Assembly technology</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="icon-layers"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Windows and Cross-platform Desktop Development</a></h3>
                        <p>Windows desktop development with WPF, UWP and cross-platform desktop development with GTK#</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="icon-briefcase"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Mobile App Development</a></h3>
                        <p>Cross-platform mobile app development with Xamarin.Forms and Xamarin Native</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="icon-bubbles"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Game Development</a></h3>
                        <p>Game Development with Unity</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="resume" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="education wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-graduation"></i>
                            <h2 class="timelin-title">Education</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Bachelor In CSE - University of Massachusetts Boston</h3>
                                <span>2019 - 2022</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Bachelor In CSE - Samarkand Branch of Tashkent University of Information Technologies</h3>
                                <span>2017 - 2019</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Academic lyceum under Samarkand State Institute of Foreign Languages</h3>
                                <span>2014 - 2017</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Secondary School #10 - High School</h3>
                                <span>2005 - 2014</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Experience</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Software Freelancer - Individual</h3>
                                <span>Feb 2019 - Present</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Team Lead, Game Developer - EC Dev Team</h3>
                                <span>Jul 2016 - Present</span>
                                <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                            </div>
                        </li>                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolios" class="section-padding">
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".design">
                        Design
                    </a>
                    <a class="filter btn btn-common" data-filter=".development">
                        Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".print">
                        Print
                    </a>
                </div>
            </div>

            <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-1.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-1.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-2.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-2.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-3.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-3.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-4.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-4.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-5.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-5.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/img-6.jpg" alt="" />
                            <div class="overlay">
                                <div class="icons">
                                    <a class="lightbox preview" href="~/img/gallery/img-6.jpg">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="#">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter-section section-padding">
    <div class="container">
        <div class="row">           
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon"><i class="icon-briefcase"></i></div>
                    <div class="counterUp">50</div>
                    <p>Project Working</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="counterUp">65</div>
                    <p>Project Done</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon"><i class="icon-diamond"></i></div>
                    <div class="counterUp">15</div>
                    <p>Awards Received</p>
                </div>
            </div>       
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon"><i class="icon-heart"></i></div>
                    <div class="counterUp">45</div>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">                
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>San Francisco, CA</p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p><a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a></p>                                
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <p><a href="#">+ (1) 123 456 789</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">
                Ilyosbekov
                <span class="text-primary">Sukhrobbek</span>
            </h1>
            <div class="subheading mb-5">
                Uzbekistan · Samarkand ·
                <a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a>
            </div>
            <p class="lead mb-5">I am experinced .NET Developer. I have more than 3 years of experience in software development. Over these years, I developed many successful applications both on the web, desktop and cross-platform mobile applications.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/suxrobgm/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/suxrobGM">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://gitlab.com/suxrobGM">
                    <i class="fab fa-gitlab"></i>
                </a>
                <a href="https://www.youtube.com/c/HeartsofIronIVEconomicCrisis2013">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/suxrobgm">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/Suxrob_GM">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://vk.com/suxrobgm">
                    <i class="fab fa-vk"></i>
                </a>
                <a href="https://t.me/SuxrobGM">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
            <h2 class="mb-5">Experience</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">.NET Developer</h3>
                    <div class="subheading mb-3">Intelitec Solutions</div>
                    <p>After working in WinForms I migrated to WPF Desktop Development.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">May 2018 - Present</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Game Developer</h3>
                    <div class="subheading mb-3">Shout! Game Development</div>
                    <p>I was very interested in game industry. Also I was liked strategy games. For this reason I started developing global modification of Hearts of Iron IV which named Economic Crisis. After couple of month working individually. I gathered a team of enthusiasts and we was remotely working together.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2016 - Present</span>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">University of Massachusetts Boston</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Computer Science</div>
                    @*<p>GPA: 3.82</p>
                </div>
<div class="resume-date text-md-right">
    <span class="text-primary">August 2019 - June 2022</span>
</div>
            </div>
<div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto">
        <h3 class="mb-0">Samarkand Branch of Tashkent University of Information Technologies</h3>
        <div class="subheading mb-3">Bachelor of Science</div>
        <div>Computer Engineering - Software Engineering</div>
        <p>GPA: 3.82</p>
    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">September 2017 - June 2019</span>
    </div>
</div>
<div class="resume-item d-flex flex-column flex-md-row">
    <div class="resume-content mr-auto">
        <h3 class="mb-0">Academic lyceum under Samarkand State Institute of Foreign Languages</h3>
        <div class="subheading mb-3">Exact sciences</div>
        <p>GPA: 3.58</p>
    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">September 2014 - June 2017</span>
    </div>
</div>
<div class="resume-item d-flex flex-column flex-md-row">
    <div class="resume-content mr-auto">
        <h3 class="mb-0">Secondary school #10 Samarkand district</h3>
        <div class="subheading mb-3">General</div>
        <p>GPA: 4.0</p>
    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">September 2005 - May 2014</span>
    </div>
</div>
@*<div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
            <h3 class="mb-0">Elementary school #2 Samarkand district</h3>
            <div class="subheading mb-3">General</div>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">September 2005 - May 2009</span>
        </div>
    </div>
        </div>
    </section>

<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="icon-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="icon-jquery"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-python"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-java"></i>
            </li>
            <li class="list-inline-item">
                <i class="icon-cplusplus"></i>
            </li>
            <li class="list-inline-item">
                <i class="icon-csharp"></i>
            </li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Desktop Application Development, WinForms and WPF
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Web Application Development, ASP.NET Core Razor &amp; ReactJS
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Game Development, Unity, Unreal Engine and Clausewitz Engine
            </li>
        </ul>
    </div>
</section>

<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="portfolio">
    <div class="my-auto">
        <h2 class="mb-5">Portfolio</h2>
        <div class="card shadow mb-3">
            <div class="card-header">
                Hearts of Iron IV: Economic Crisis 2013
            </div>
            <div class="card-body embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KNjCiEmCNXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card-footer">
                Hearts of Iron IV: Economic Crisis 2013 is real time strategy(RTS) game. The scenario of the game starts in 2013. The main focus is political strugles in Ukraine (Euromaidan events) and military conflicts in Middle Eastern.
            </div>
        </div>
        <div class="card shadow mb-3">
            <div class="card-header">
                Game Launcher
            </div>
            <div class="card-body">
                <img class="img-thumbnail" src="~/img/ec_launcher_screen.jpg" alt="Alternate Text" />
            </div>
            <div class="card-footer">
                Game Launcher for Hearts of Iron IV: Economic Crisis, launcher features include auto update mod files, report bug, game news, settings and so on. Launcher written in C#
            </div>
        </div>
        <div class="card shadow mb-3">
            <div class="card-header">
                QA Scanner
            </div>
            <div class="card-body">
                <img class="img-thumbnail" src="~/img/qa_scanner.jpg" alt="Alternate Text" />
            </div>
            <div class="card-footer">
                Question answer scanner is exam hacking program that user can simply find answers to question. Use Ctrl+D hotkey for hiding program.
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header">
                        Molecular Physics Demo
                    </div>
                    <div class="card-body">
                        <img class="img-thumbnail" src="~/img/physics_demo.jpg" alt="Alternate Text" />
                    </div>
                    <div class="card-footer">
                        Molecular physics demo is simple program that can calculate and drawing graphics of all molecular physics laws
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow">
                    <div class="card-header">
                        Mechanics Physics Demo
                    </div>
                    <div class="card-body">
                        <img class="img-thumbnail" src="~/img/physics_newton_demo.jpg" alt="Alternate Text" />
                    </div>
                    <div class="card-footer">
                        Mechanics physics demo is simple program that can calculate and drawing graphics of all mechanics laws
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-3">
            <div class="card-header">
                Conversation Bot
            </div>
            <div class="card-body">
                <img class="img-thumbnail" src="~/img/telegram-bot.png" alt="Alternate Text" />
            </div>
            <div class="card-footer">
                Telegram bot for conversation using Dialogflow Artificial Intellect
            </div>
        </div>
    </div>
</section>

<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in .NET world.</p>
    </div>
</section>

<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Top-30 team Tashkent University of Information Technologies - ACM Sports Programming Contest 2018
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - Samarkand Branch of Tashkent University of Information Technologies - ACM Sports Programming Contest 2017
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                4<sup>th</sup> place in regional stage
                High School Physics Olympiad - 12<sup>th</sup> class 2017
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                4<sup>th</sup> in final stage
                School Physics Olympiad - 9<sup>th</sup> class 2014
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                3<sup>rd</sup> place in regional stage
                School Physics Olympiad - 8<sup>th</sup> class 2013
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                3<sup>rd</sup> place in final stage
                School Physics Olympiad - 7<sup>th</sup> class 2012
            </li>
        </ul>
    </div>
</section>
</div>*@
