@page
@model SuxrobGM_Website.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Sukhrob Ilyosbekov";
}

<section id="modal-wrapper">
</section>

<section id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="contents">
                    <h4 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h4>
                    <h1 class="head-title wow fadeInUp" data-wow-delay="0.4s">Sukhrob Ilyosbekov</h1>
                    <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Software Engineer</p>
                    <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                        <li>
                            <a class="facebook" href="https://www.facebook.com/suxrobgm"><i class="icon-social-facebook"></i></a>
                        </li>
                        <li>
                            <a class="instagram" href="https://www.instagram.com/Suxrob_GM"><i class="icon-social-instagram"></i></a>
                        </li>
                        <li>
                            <a class="linkedin" href="https://www.linkedin.com/in/suxrobgm/"><i class="icon-social-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="github" href="https://github.com/suxrobGM"><i class="icon-social-github"></i></a>
                        </li>
                        <li>
                            <a class="telegram" href="https://t.me/suxrobGM"><i class="fab fa-telegram-plane"></i></a>
                        </li>
                    </ul>
                    <div class="header-button wow fadeInUp" data-wow-delay="1s">
                        <a asp-page="/Blog/List" class="btn btn-common">Blog</a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <figure class="filter-photo">
                        <img class="img-fluid" src="~/img/about/profile_4.jpg" alt="Sukhrob Ilyosbekov's photo">
                    </figure>                   
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
                    <h3>Hi!</h3>
                    <p>I am .NET Developer with over 3 years of extensive experience in complete software development life cycle (SDLC) involving Requirements Gathering, Analysis, Design, Development, Testing, Packaging, Deploying and Supporting of Windows Applications, Web Applications and Mobile Applications on the Microsoft platform, and Game development on the Unity platform. Experience in Agile Methodology for full life-cycle of the project.</p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Full Name </span> <span class="pro-detail">Sukhrob Ilyosbekov</span></li>
                            <li><span class="pro-title"> Age </span> <span class="pro-detail">22 Years</span></li>
                            <li><span class="pro-title"> Experience </span> <span class="pro-detail">3 Years</span></li>
                            <li><span class="pro-title"> Nationality </span> <span class="pro-detail">Uzbekistan</span></li>
                            <li><span class="pro-title"> Residence </span> <span class="pro-detail">Malaysia</span></li>
                            <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                        </ul>
                    </div>
                    <a href="~/Resume_RU.pdf" class="btn btn-common"><i class="icon-paper-clip"></i>Download Resume (RU)</a>
                    <a href="~/Resume_EN.pdf" class="btn btn-common"><i class="icon-paper-clip"></i>Download Resume (EN)</a>
                    <a href="mailto:suxrobGM@gmail.com" class="btn btn-danger"><i class="icon-speech"></i>Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Skills</h2>
    <div class="container">

        <!--First row-->
        <div class="row">
            <div class="col-12 col-md-6 wow slideInLeft" data-wow-delay="0.3s">
                <h2 class="skills-title"><i class="fa fa-users"></i>&nbsp;&nbsp; Professional Skills</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 65%">
                                <span class="progress-type">Communication</span>
                                <span class="progress-completed">70%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 90%">
                                <span class="progress-type">Leadership</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%">
                                <span class="progress-type">Confidence</span>
                                <span class="progress-completed">80%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 wow slideInRight" data-wow-delay="0.5s">
                <h2 class="skills-title"><i class="fa fa-code"></i>&nbsp;&nbsp; Code Skills</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                                <span class="progress-type">C#</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%">
                                <span class="progress-type"><i class="fab fa-python"></i>&nbsp; Python</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%">
                                <span class="progress-type">JavaScript</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%">
                                <span class="progress-type">C/C++</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%">
                                <span class="progress-type"><i class="fab fa-java"></i>&nbsp; Java</span>
                                <span class="progress-completed">85%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%">
                                <span class="progress-type"><i class="fa fa-database"></i>&nbsp; SQL</span>
                                <span class="progress-completed">80%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                                <span class="progress-type"><i class="fab fa-html5"></i>&nbsp; HTML/CSS</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 55%">
                                <span class="progress-type">F#</span>
                                <span class="progress-completed">55%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%">
                                <span class="progress-type"><i class="fab fa-php"></i>&nbsp; PHP</span>
                                <span class="progress-completed">50%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--Second row-->
        <div class="row">
            <div class="col-12 col-md-6 wow slideInLeft" data-wow-delay="0.7s">
                <h2 class="skills-title"><i class="fa fa-tools"></i>&nbsp;&nbsp; Tools &amp; Technologies</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">.NET Framework</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">.NET Core</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type"><i class="fab fa-windows"></i>&nbsp; WPF</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">ASP.NET Core</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%">
                                <span class="progress-type">Unity 3D</span>
                                <span class="progress-completed text-light font-italic">100% &nbsp;<i class="fa fa-check text-light"></i></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 90%">
                                <span class="progress-type"><i class="fa fa-mobile-alt"></i>&nbsp; Xamarin.Forms</span>
                                <span class="progress-completed">90%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%">
                                <span class="progress-type"><i class="fab fa-react"></i>&nbsp; ReactJS</span>
                                <span class="progress-completed">80%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 55%">
                                <span class="progress-type">Qt</span>
                                <span class="progress-completed">55%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 wow slideInRight" data-wow-delay="0.9s">
                <h2 class="skills-title"><i class="fa fa-satellite-dish"></i>&nbsp;&nbsp; Ethical Hacking Skills</h2>
                <ul class="skills-list">
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 50%">
                                <span class="progress-type"><i class="fa fa-network-wired"></i>&nbsp; Network Traffic Sniffing</span>
                                <span class="progress-completed">50%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 65%">
                                <span class="progress-type"><i class="fa fa-wifi"></i>&nbsp; Wireless Security Analysis</span>
                                <span class="progress-completed">65%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%">
                                <span class="progress-type">Social Engineering</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 70%">
                                <span class="progress-type">Web Application Security Analysis</span>
                                <span class="progress-completed">70%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%">
                                <span class="progress-type">Vulnerability Analysis</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 40%">
                                <span class="progress-type">Penetration Testing</span>
                                <span class="progress-completed">40%</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="fab fa-html5"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Web Application Development</a></h3>
                        <p>Web application development using ASP.NET Core</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="fab fa-windows"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Desktop Application Development</a></h3>
                        <p>Windows desktop development using WPF or cross-platform desktop development using GTK#</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="0.9s">
                    <div class="icon">
                        <i class="fa fa-mobile-alt"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Mobile Application Development</a></h3>
                        <p>Cross-platform mobile application development using Xamarin.Forms</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xs-12">
                <div class="services-item wow fadeInDown h-100" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Game Development</a></h3>
                        <p>Game development using Unity 3D</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="resume" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="education wow fadeInRight" data-wow-delay="0.3s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-graduation"></i>
                            <h2 class="timelin-title">Education</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">INTI International University &amp; Colleges</h3>
                                <span>2019 - 2021</span>
                                <p class="line-text">Bachelor's Degree in Computer Science | Malaysia | Kuala-Lumpur</p>
                                <p class="line-text">American Degree Transfer Program</p>
                                <p class="line-text">Major: Computer Science</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Tashkent University of Information Technologies</h3>
                                <span>2017 - 2019</span>
                                <p class="line-text">Bachelor's Degree in Computer Science | Uzbekistan | Samarkand</p>
                                <p class="line-text">Major: Software Engineering</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Academic lyceum under Samarkand State Institute of Foreign Languages</h3>
                                <span>2014 - 2017</span>
                                <p class="line-text">Specialized in Mathematics and Physics | Uzbekistan | Samarkand</p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Secondary School #10</h3>
                                <span>2005 - 2014</span>
                                <p class="line-text">General Education | Uzbekistan | Samarkand</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="experience wow fadeInRight" data-wow-delay="0.6s">
                    <ul class="timeline">
                        <li>
                            <i class="icon-briefcase"></i>
                            <h2 class="timelin-title">Experience</h2>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">.NET Developer - Smart Meal Service, Russia</h3>
                                <span>September 2020 - Present</span>
                                <p class="line-text">
                                    &bull; Support and improvement of the existing project.<br />
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Unity Developer - Pentalight Technology, Malaysia</h3>
                                <span>March 2020 - Present</span>
                                <p class="line-text">
                                    &bull; Developed the multiplayer functionality for the smart city project in Unity platform.<br />
                                    &bull; Integrated user interface (UI) and various HUD for VR platform.<br />
                                    &bull; Integrated MLAPI (UNet based networking system).<br />
                                    &bull; Integrated SteamVR.<br />
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Freelance Software Developer - Freelancer.com</h3>
                                <span>Feb 2019 - Feb 2020</span>
                                <p class="line-text">
                                    &bull; Designed and developed various applications in ASP.NET, WPF and Xamarin.Forms.<br />
                                    &bull; Designed and developed various API and wrapper libraries in .NET<br />
                                    &bull; Developed natural language processing applications using Python NLP libraries.<br />
                                    &bull; Designed and maintained front-end for web and mobile applications.<br />
                                    &bull; Wrote unit tests to improve code predictability and documentation.<br />
                                    &bull; Developed supporting tools to reduce development time.<br />
                                    &bull; Used coding methods in specific programming languages to initiate and improve program execution and functionality.<br />
                                    &bull; Worked closely with client to provide a customized website for their business.<br />
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content-text">
                                <h3 class="line-title">Game Developer - EC Dev Team, Uzbekistan</h3>
                                <span>Jul 2016 - Jan 2019</span>
                                <p class="line-text">
                                    &bull; Developed RTS game in Clausewitz Engine which called &quot;Hearts of Iron: Economic Crisis&quot;<br />
                                    &bull; Managed team of enthusiastic developers.<br />
                                    &bull; Designed and developed game artificial intelligence (AI) logics.<br />
                                    &bull; Programmed hardcore game mechanics.<br />
                                    &bull; Scripted world map of the game.<br />
                                    &bull; Developed various software tools for developers.<br />
                                    &bull; Balanced game difficulty and technology trees.<br />
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolios" class="section-padding">
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        All
                    </a>
                    <a class="filter btn btn-common" data-filter=".web-development">
                        Web Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".desktop-development">
                        Desktop Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".mobile-development">
                        Mobile Development
                    </a>
                    <a class="filter btn btn-common" data-filter=".game-development">
                        Game Development
                    </a>
                </div>
            </div>

            <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix game-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ec_background.jpg" alt="Economic Crisis" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#ec_modal"
                                       onclick="openImageModal('ec_modal',
                                                                ['/img/gallery/ec_1.jpg', '/img/gallery/ec_2.jpg', '/img/gallery/ec_3.jpg'],
                                                                'Hearts of Iron IV: Economic Crisis',
                                                                'Economic Crisis is RTS global strategy game. It is modification of the orginal game \'Hearts of Iron IV\' will allow you to manage anyone country in our time, beginning in 2013, and lead it into the future. You can seek the peace and tranquility for its people, you can put the whole world on his knees in front of his people, and lead the country to destroy other countries. In your hands the ability to create an ideal country. Will you be able to change the course of history and prevent World War III? Or, you will become the chief culprit of the bloody conflict?Take command on the battlefields of World War III. At your disposal a loyal and steadfast soldiers nuclear power and the best advanced weapons - all to build a new world on your vision.')">
                                        <i class="icon-eye"></i>
                                    </a>

                                    <a class="link" href="https://vk.com/ec_hoi_mod">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix game-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/trivia_streak_1.jpg" alt="Trivia Streak" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#trivia_streak_modal"
                                       onclick="openImageModal('trivia_streak_modal',
                                                                ['/img/gallery/trivia_streak_1.jpg', '/img/gallery/trivia_streak_2.jpg', '/img/gallery/trivia_streak_3.jpg'],
                                                                'Trivia Streak',
                                                                'Trivia Streak is a game where you answer questions to win prizes that can be kept or donated to charity.')">
                                        <i class="icon-eye"></i>
                                    </a>

                                    <a class="link" href="https://play.google.com/store/apps/details?id=com.hendocheese.triviastreak&hl=en">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/mystand_1.jpg" alt="MyStand" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#mystand_modal"
                                       onclick="openImageModal('mystand_modal',
                                                                ['/img/gallery/mystand_1.jpg', '/img/gallery/mystand_2.jpg', '/img/gallery/mystand_3.jpg'],
                                                                'MyStand - Crowd-funding charity',
                                                                'MyStand is a crowd-funding, media sharing website, that has you donating actions instead of money out of your pocket. Features social media sharing and large scale crowd-funding.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/powur_2.jpg" alt="Powur" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#powur_modal"
                                       onclick="openImageModal('powur_modal',
                                                                ['/img/gallery/powur_1.jpg', '/img/gallery/powur_2.jpg', '/img/gallery/powur_3.jpg'],
                                                                'Powur.com - Multi-level marketing',
                                                                'Powur is a multi-level marketing platform for lead generation, recruitment, and team building. Features complex user tree heiarchy and commission system.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://powur.com/">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development mobile-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/roambi_2.jpg" alt="Roambi" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#roambi_modal"
                                       onclick="openImageModal('roambi_modal',
                                                                ['/img/gallery/roambi_1.jpg', '/img/gallery/roambi_2.jpg', '/img/gallery/roambi_3.jpg'],
                                                                'Roambi.com - Business analytics',
                                                                'Roambi provides analytics, reporting, and business intelligence for companies to use on the go.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <a class="link" href="https://www.sap.com/products/roambi.html">
                                        <i class="icon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development mobile-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/walker_2.jpg" alt="Walker Tracker" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#walker_modal"
                                       onclick="openImageModal('walker_modal',
                                                                ['/img/gallery/walker_1.jpg', '/img/gallery/walker_2.jpg', '/img/gallery/walker_3.jpg'],
                                                                'WalkerTracker - Performance metrics',
                                                                'Walker Tracker offers goal management, fitness tracking, and team competitions to companies for internal use. Features visual metrics and gamified progression system.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development mobile-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/never_2.jpg" alt="NeverSurrender" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#never_modal"
                                       onclick="openImageModal('never_modal',
                                                                ['/img/gallery/never_1.jpg', '/img/gallery/never_2.jpg', '/img/gallery/never_3.jpg'],
                                                                'NeverSurrender - ALS awareness',
                                                                'NeverSurrender is a platform for the new ALS foundation mobile app in hopes to raise awareness and research funding to fight ALS. Pure JavaScript marketing site to promote the new ALS NeverSurrender app.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development mobile-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/themall_2.jpg" alt="The Mall" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#themall_modal"
                                       onclick="openImageModal('themall_modal',
                                                                ['/img/gallery/themall_1.jpg', '/img/gallery/themall_2.jpg', '/img/gallery/themall_3.jpg'],
                                                                'The Mall - Peer guided shopping',
                                                                'The Mall is a place to follow the latest fashion purchases of your friends and favorite celebrities. Features the ability to import thousands of top brands products into one shopping site.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/apos_1.jpg" alt="aPOS" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#apos_modal"
                                       onclick="openImageModal('apos_modal',
                                                                ['/img/gallery/apos_1.jpg', '/img/gallery/apos_2.jpg', '/img/gallery/apos_3.jpg', '/img/gallery/apos_4.jpg'],
                                                                'aPOS - Point Of Sale Software',
                                                                'aPos is a POS (Point Of Sale) software program dedicated for any business or workshop that has sales and/or services with cash. This software is integrated with fiscal printer which forms a very functional “fiscal” cash register. It’s a very user friendly software that fulfills all requests for the management of a business with one or more points of sale.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/addict_registry_system.jpg" alt="The Addict Registry" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#addict_registry_system_modal"
                                       onclick="openImageModal('addict_registry_system_modal',
                                                                ['/img/gallery/addict_registry_system.jpg'],
                                                                'Addict Registry System',
                                                                'The Addict Registry is a software system (application with database) developed for the identification of addicts (drug users) for NGO Labyrinth. This software system is used for registration and generating of advanced statistical reports over drug addicts (drug users). NGO Labyrinth will have an exact and clear sight over Kosova’s drug addicts. The system has a high security due to client’s highly sensitive data.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/school_registry_1.jpg" alt="School Registry System" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#school_registry_modal"
                                       onclick="openImageModal('school_registry_modal',
                                                                ['/img/gallery/school_registry_1.jpg'],
                                                                'School Registry System',
                                                                'This software system can be used for registration, update and detailed reporting of education institutions for entire Kosova. With this system, MEST can have a clear picture of all details of the education institutions of Kosova. The system co-acts with ArcGIS, respectively with ArcMap, which gives access to the locating of every educating object directly from the evidence of schools system, on the Kosovo’s map, respectively on the ArcMap system.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix mobile-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/instagram_post_downloader_preview.jpg" alt="Instagram Post Downloader" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#instagram_post_downloader_modal"
                                       onclick="openImageModal('instagram_post_downloader_modal',
                                                                ['/img/gallery/instagram_post_downloader_1.jpg', '/img/gallery/instagram_post_downloader_2.jpg', '/img/gallery/instagram_post_downloader_3.jpg'],
                                                                'Instagram Post Downloader',
                                                                'Instagram Post Downloader is mobile application. You can download your favorite images and videos from instagram post url. Just copy and paste post url')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development mobile-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/alite_1.jpg" alt="aLite" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#alite_modal"
                                       onclick="openImageModal('alite_modal',
                                                                ['/img/gallery/alite_1.jpg', '/img/gallery/alite_2.jpg', '/img/gallery/alite_3.jpg'],
                                                                'aLite - Bar and Restaurant Management Software',
                                                                'aLite is a software dedicated for any restaurant and bar which supports the work with fiscal printer in Kosovo. It’s an easy and user friendly software that can be used by everyone and fulfills all requests for restaurants and bars. It is exclusively developed according to the requirements of managers and owners of restaurants and bars and it is installed in many of the best restaurants and bars in the country.')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix desktop-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/medical_clinic_queue_1.jpg" alt="Medical Clinic Queue" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#medical_clinic_queue_modal"
                                       onclick="openImageModal('medical_clinic_queue_modal',
                                                                ['/img/gallery/medical_clinic_queue_1.jpg', '/img/gallery/medical_clinic_queue_2.jpg'],
                                                                'Medical Clinic Queue',
                                                                'Medical Clinic Queue is windows application which optimizes waiting queues in medical clinics with POS system')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix web-development">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/gallery/ecommerce_1.jpg" alt="Smart Market" />
                            <div class="overlay">
                                <div class="icons">
                                    <a role="button" data-toggle="modal" data-target="#ecommerce_modal"
                                       onclick="openImageModal('ecommerce_modal',
                                                                ['/img/gallery/ecommerce_1.jpg', '/img/gallery/ecommerce_2.jpg', '/img/gallery/ecommerce_3.jpg', '/img/gallery/ecommerce_4.jpg'],
                                                                'Smart Market - ECommerce online shop',
                                                                'Smart Market is a ecommerce web application based on nopCommerce Asp.Net Core')">
                                        <i class="icon-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="feedbacks" class="counter-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon"><i class="icon-briefcase"></i></div>
                    <div class="counterUp">47</div>
                    <p>Project Working</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon"><i class="icon-check"></i></div>
                    <div class="counterUp">66</div>
                    <p>Project Done</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="0.9s">
                    <div class="icon"><i class="icon-diamond"></i></div>
                    <div class="counterUp">13</div>
                    <p>Awards Received</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 work-counter-widget text-center">
                <div class="counter wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon"><i class="icon-heart"></i></div>
                    <div class="counterUp">41</div>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 col-md-9 col-lg-8 mx-auto">
                <div id="client_feedbacks" class="carousel" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#client_feedbacks" data-slide-to="0" class="active"></li>
                        <li data-target="#client_feedbacks" data-slide-to="1"></li>
                        <li data-target="#client_feedbacks" data-slide-to="2"></li>
                    </ul>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <blockquote class="blockquote">
                                <p class="h4">His work was outstanding. Not only did what we needed but also his professionalism has been great: he documented and give us guidelines of everything. Thanks again</p>
                                <div class="blockquote-footer text-white">
                                    Ariel S. from USA
                                </div>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote">
                                <p class="h4">You are a person with patience, I appreciate that, thanks for your great work.</p>
                                <div class="blockquote-footer text-white">
                                    Nestor M. from Peru
                                </div>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote">
                                <p class="h4">Great work. I want to work with him again Thanks. Everything is very fine</p>
                                <div class="blockquote-footer text-white">
                                    Akindele H. from Nigeria
                                </div>
                            </blockquote>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section-padding">
    <div class="contact-form">
        <div class="container">
            <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="footer-right-area wow fadeIn">
                        <h2>Contact Address</h2>
                        <div class="footer-right-contact">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <p>Malaysia</p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p><a href="mailto:suxrobGM@gmail.com">suxrobGM@gmail.com</a></p>
                            </div>
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <i class="fab fa-telegram-plane"></i>
                                </div>
                                <a class="telegram" href="https://t.me/suxrobGM">Telegram (@@suxrobGM)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
