@page
@model SGM.BlogApp.Pages.AdminIndexModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

@section CSS {
    <environment include="Development">
        <link href="~/lib/syncfusion/material.css" rel="stylesheet" />
        <script src="~/lib/syncfusion/ej2.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
        <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    </environment>
}

@section FluidContainer {
    <h3>Administration Dashboard</h3>

    <div class="row mt-3">
        <a class="btn btn-sm btn-danger text-white" asp-page-handler="RemoveItems" onclick="confirmRemoveItems(event)">Remove Items</a>
    </div>
    <div class="row my-2">
        <ejs-grid id="Grid" dataSource="@Model.ViewData["dataSource"]" allowPaging="true" allowSorting="true" allowResizing="true">
            <e-grid-pagesettings pageCount="15" pageSize="100" pageSizes="new[] { 50, 100, 250, 500 }"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Timestamp" headerText="Timestamp" width="170" customFormat="@(new {type = "date", format = "dd/MM/yyyy hh:mm:ss"})"></e-grid-column>
                <e-grid-column field="RemoteIpAddress" headerText="Remote Ip Address" width="150"></e-grid-column>
                <e-grid-column field="Method" headerText="Method" width="75"></e-grid-column>
                <e-grid-column field="Path" headerText="Path" width="150"></e-grid-column>
                <e-grid-column field="UserAgent" headerText="User Agent" width="200"></e-grid-column>
                <e-grid-column field="Country" headerText="Country" width="150"></e-grid-column>
                <e-grid-column field="RegionName" headerText="Region" width="150"></e-grid-column>
                <e-grid-column field="City" headerText="City" width="150"></e-grid-column>
                <e-grid-column field="Latitude" headerText="Latitude" width="100"></e-grid-column>
                <e-grid-column field="Longitude" headerText="Longitude" width="100"></e-grid-column>
                <e-grid-column field="Timezone" headerText="Timezone" width="150"></e-grid-column>
                <e-grid-column field="Isp" headerText="Isp" width="150"></e-grid-column>
                <e-grid-column field="Org" headerText="Org" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}

@section Scripts {
    <script>
        function confirmRemoveItems(e) {
            const result = confirm("Do you want to delete all items in this table? \nWARNING! this non refundable operation!");
            if (result === false) {
                e.preventDefault();
            }
        }
    </script>
}
