<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="7443Tno6XS-gkMmh5ZvtcwWF1PuGfkPev_q-fVmUF3Y" />
    <meta name="yandex-verification" content="aad30851e49cf5e7" />
    <meta name="msvalidate.01" content="6527AC8486CF0C33982F0189EB53F279" />
    <meta name="author" content="Sukhrob Ilyosbekov" />
    <meta name="keywords" content="Suxrob, Sukhrob, Ilyosbekov, SuxrobGM, Suxrob GM, Sukhrob Ilyosbekov, Suxrobbek, Suxrobbek Ilyosbekov,
          Suxrob Ilyosbekov, Sukhrobbek, Sukhrobbek Ilyosbekov, suxrob_gm, Stephen, Software Enginer, Software Developer, Developer, SGM, .NET, .NET Expert, Freelancer, Freelance" />
    <meta name="description" content="Sukhrob Ilyosbekov's official website, experinced .NET developer. Expert in C#, .NET, and T-SQL with database analysis and design. Skilled in developing business plans, requirements specifications, user documentation, and architectural systems research." />
    <meta name="image" content="http://www.suxrobgm.net/img/about/profile_2.jpg" />
    <meta property="og:type" conten="website" />
    <meta property="og:url" conten="http://suxrobgm.net" />
    <meta property="og:title" content="Sukhrob Ilyosbekov" />
    <meta property="og:description" content="Sukhrob Ilyosbekov's official web site, Software Engineer" />
    <meta property="og:image" content="http://www.suxrobgm.net/img/about/profile_2.jpg" />
    <meta name="twitter:card" content="Sukhrob Ilyosbekov's official web site, Software Engineer." />
    <meta name="twitter:url" content="http://suxrobgm.net" />
    <meta name="twitter:title" content="Sukhrob Ilyosbekov" />
    <meta name="twitter:description" content="Sukhrob Ilyosbekov's official website, experinced .NET developer. Expert in C#, .NET, and T-SQL with database analysis and design. Skilled in developing business plans, requirements specifications, user documentation, and architectural systems research." />
    <meta name="twitter:creator" content="Sukhrob Ilyosbekov" />
    <meta name="twitter:image" content="http://www.suxrobgm.net/img/about/profile_2.jpg" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
    </environment>

    <link rel="stylesheet" href="~/fonts/simple-line-icons.css" />
    <link rel="stylesheet" href="~/css/slicknav.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
	<script src="https://kit.fontawesome.com/6627613fa4.js"></script>
</head>

<body id="page-top">
    <header id="header-wrap">
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    @*<a href="/" class="navbar-brand"><img src="~/img/logo.png" alt=""></a>*@
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Blog/List">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolios">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#feedbacks">Feedbacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="onepage-nev mobile-menu">
                <li>
                    <a asp-page="/Blog/List">Blog</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#resume">Resume</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#feedbacks">Feedbacks</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                        <ul class="social-icon">
                            <li>
                                <a class="facebook" href="https://www.facebook.com/suxrobgm"><i class="icon-social-facebook"></i></a>
                            </li>
                            <li>
                                <a class="instagram" href="https://www.instagram.com/Suxrob_GM"><i class="icon-social-instagram"></i></a>
                            </li>
                            <li>
                                <a class="linkedin" href="https://www.linkedin.com/in/suxrobgm/"><i class="icon-social-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="github" href="https://github.com/suxrobGM"><i class="icon-social-github"></i></a>
                            </li>
                            <li>
                                <a class="telegram" href="https://t.me/suxrobGM"><i class="fab fa-telegram-plane"></i></a>
                            </li>
                        </ul>
                        <p>Copyright &copy; 2019 </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top">
        <i class="icon-arrow-up"></i>
    </a>

    <script src="~/js/jquery-min.js"></script>
    <script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/main.js"></script>

    @*<script>
        $(document).ready(() => {
            navigator.geolocation.getCurrentPosition(position => {
                coords = position.coords.latitude + ',' + position.coords.longitude;
            });
        });
    </script>*@

    <environment include="Development">       
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
