.text-custom,
.custom-nav .navbar-nav li a:hover,
.custom-nav .navbar-nav li a:active,
.custom-nav .navbar-nav li a.active,
.custom-nav.stickyadd .navbar-nav li a:hover,
.custom-nav.stickyadd .navbar-nav li a:active,
.custom-nav.stickyadd .navbar-nav li a.active,
.about-social li a:hover,
.footer-alt li a i:hover {
    color: #f2b31a !important;
}

.btn-custom,
.form-kerri .form-control:focus,
.about-social li a:hover {
    border-color: #f2b31a;
}

.btn-custom,
.back_top,
.services-boxes .services-title-border,
.owl-dots button.owl-dot span,
.work_menu a.active,
.work_menu a:hover {
    background-color: #f2b31a;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: #dea51a;
    border-color: #dea51a;
}